* {
    background-color: #ab00ff;
    color: white;
    font-family: monospace;
    
    

}

body{
    font-size: 2.5em;
}

input {
    width: 12em;       
    height: 3em;   
    font-size: 16px;
 
}
button {
    border-radius: 50%;
    margin: 2em;
    transform: scale(2);           
    transform-origin: center;
    transition: transform 0.3s ease;
    border-color: purple;
    
    
  
}

button:hover {
    transform: scale(2.5); 
}


select {
    width: 8em;        
    font-size: 1.2rem;   
    padding: 0.5em 1em;  
    height: 2em; 
}






